html, body {
  height: 100%;
}

#about{
    background-image: url("../img/okay.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top:70px;
}
#top{
    margin-left: 18%;
}
#noted{
    margin-left: 18%;
    margin-top: 25%;
}
#we{
    letter-spacing: 1px;
}
#middle{
    margin-top:8%;
}
#text{
    color:#c0c0c0;
}
  @media only screen and ( max-width: 1024px )
{
.offset-1{
    margin: 0;
}
#noted{
    display: none;
}
#top{
    font-size:30px;
    text-align: center;
    margin-left: 0px;
}
#mobile{
    margin-top:0px;
}
#middle{
    margin-top:20px;
}
}